.center{
    text-align: center;
    // background-color: aqua;
}

.col{
    // margin : 1px;
    // padding: 1px;
    // border-width: 1px;  
    // border-radius: 10px;
    border-color: black;
.row {
    font-size: 12px;
    margin : 1px;
    border-color: black;
    padding: 1px;
    // border-width: 1px;  
    border:  solid black;
    border-radius: 5px;
}


}