<ion-header>
  <meu-cabecalho>
  </meu-cabecalho>
</ion-header>

<ion-content padding>

  
  <!-- <ion-grid>
    <ion-row *ngFor="let linha of [0,1]">
      <ion-col *ngFor="let colunas of this.matrizMensagemOriginal.elemento, let coluna=index">
        <ion-row>
      <ion-label>{{this.matrizMensagemOriginal.elemento[coluna][linha]}} </ion-label>
      </ion-row>
      <ion-row class='center'>
        <ion-input type="text" placeholder="a({{coluna}},{{linha}})" 
        [(ngModel)]="this.matrizMensagemOriginal.elemento[coluna][linha]"></ion-input>    
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div>
    <ion-list>
      <ion-list-header>
        <div class='center'>
          PRATICAR CRIPTOGRAFIA
        </div>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio1.jpg">
        </ion-thumbnail>
        <h2>CRIPTOGRAFANDO HILL</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button (click)="avancaCripto01()" ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio2.jpg">
        </ion-thumbnail>
        <h2>DECIFRANDO HILL</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button (click)="avancaDecripto01()" ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>
    <ion-list-header>
      <div class='center'>
        ESTUDAR CONTEÚDO MATEMÁTICO
      </div>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio3.jpg">
        </ion-thumbnail>
        <h2>MAXIMO DIVISOR COMUM</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio4.jpg">
        </ion-thumbnail>
        <h2>MATRIZES</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio5.jpg">
        </ion-thumbnail>
        <h2>INVERSOS MODULARES</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio6.jpg">
        </ion-thumbnail>
        <h2>INVERSOS MODULARES</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio7.jpg">
        </ion-thumbnail>
        <h2>INVERSOS MODULARES</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/inicio8.png">
        </ion-thumbnail>
        <h2>INVERSOS MODULARES</h2>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button clear item-end>ver</button>
      </ion-item>
    </ion-list>

  </div>


</ion-content>